<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comp5216.sydney.edu.au.mygallery">

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/mykart"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mykart"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Insert Baidu API key" >
        </meta-data>
        <activity android:name=".SignInActivity"></activity>
        <activity android:name=".ViewAndEditImageActivity" />
        <activity android:name=".AutoFitTextureView" />
        <activity android:name=".Camera2BasicFragment" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote"> </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="YOUR_APPLICATION_ID.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
    <meta-data
        android:name="com.google.firebase.ml.vision.DEPENDENCIES"
        android:value="ocr" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

</manifest>
